<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.plb">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity"></activity>
        <activity android:name=".activity.RegActivity" />
        <activity android:name=".activity.GuideActivity"></activity>
        <activity android:name=".activity.my_activity.MendianSettingActivity" />
        <activity android:name=".activity.my_activity.LingShengSettingActivity" />
        <activity android:name=".activity.my_activity.YingYeStateActivity" />
        <activity android:name=".activity.operating_activity.operating_manager" />
        <activity android:name=".activity.operating_activity.operating_evaluation" />
        <activity android:name=".activity.operating_activity.operating_financial" />
        <activity android:name=".activity.operating_activity.operating_data" />
        <activity android:name=".activity.operating_activity.NewGood" />
        <activity android:name=".activity.operating_activity.Business_statistics" />
        <activity android:name=".activity.operating_activity.Customer_analysis" />
        <activity android:name=".activity.operating_activity.Traffic_analysis" />
        <activity android:name=".activity.operating_activity.Product_analysis" />
        <activity android:name=".activity.operating_activity.Merchants_experience" />
        <activity android:name=".activity.Audit"></activity>
    </application>

</manifest>